<!DOCTYPE html>

<html lang="ja">

<head>

	<meta charset="utf-8">

	<title><%= movieName %> -座席予約-</title>

	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/production_seat.css">

</head>

<body>

	<header>
		<div id="halcinema" onclick="window.location.href = '/home/today_schedule'">
			<img src="../images/logo_white.png" alt="ロゴ白">
			<h1>HAL CINEMA</h1>
		</div>
		<button id="pan" onclick="location.href='/'">＜地域選択画面</button>
	</header>


	<div id="wrap">

		<p id="pan2" onclick="location.href='/production/<%= movieId %>'">＜　作品詳細画面に戻る</p>

		<article>
			<!-- ここから編集 -->
			<section id="seat_cont">
				<div id="top_cont">
					<div id="left_cont">
						<% const date = new Date(runday) %>
						<h2><%= String(date.getMonth() - 1).padStart(2,"0") %>/<%= String(date.getDate()).padStart(2,"0") %>
						</h2>
						<h3>『<%= movieName %>』</h3>
						<p id="time"><%= plas %><span>~ 11:00</span></p>
					</div>
					<div id="right_cont">
						<div class="float">空席</div>
						<div id="kuseki"></div>
						<div class="float">満席</div>
						<div id="manseki"></div>
						<div class="float">選択</div>
						<div id="sentaku">✓</div>
					</div>
				</div>

				<div id="screen" src="../images/screen.png" alt="スクリーン">screen</div>
				<div id="seat_area">
					<% if(lock){ %>
					<div>他のユーザが予約中です。時間を置いてからもう一度お試しください。</div>
					<% }else{ %>
					<!-- <div class="kuseki"></div>
					<div class="manseki"></div>
					<div class="sentaku">✓</div> -->
				</div>

				<div id="tickets">
				</div>

				<button id="next" onclick="location.href='../reserve/credit.html'">選択座席で予約する　▶</button>
			</section>

			<!-- ここまでを編集 -->
		</article>


	</div>



	<footer id="copyRight">
		<small>&copy; HAL CINEMA 2020.</small>
	</footer>


	<script src="/js/axios.min.js"></script>
	<script>
		const kind = ["", "A", "B", "C", "D", "E", "F", "G", "H"]
		const seat_length = 16
		let seats = new Array(kind.length)
		let stock = [];// 最終的に選択した座席が入る配列だよ

		const HOST = location.origin.replace(/^http/, 'ws') + "/reserve/ws/<%= runId %>";
		console.log(HOST)
		const ws = new WebSocket(HOST);

		(async function () {
			const { data } = await axios.get("/api/getSeat/<%= runId %>")
			console.log(data)
			for (let x = 0; x < kind.length; x++) {
				const sec = document.createElement("div")
				sec.classList.add("seat_block")
				seats[x] = []
				if (x === 0) {
					sec.innerHTML = `<div class="seat_head"></div>`
					for (let i = 0; i < seat_length; i++) {
						sec.innerHTML += `<div class="seat_number">${i + 1}</div>`
						if ((i + 1) % 4 === 0 && i !== 15) {
							sec.innerHTML += `<div style="margin-left: 30px;"></div>`
						}
					}
				} else {
					sec.innerHTML = `<div class="seat_head">${kind[x]}列</div>`
					sec.setAttribute("id", "seat" + kind[x])
					for (let i = 0; i < seat_length; i++) {
						seats[x].push({ seat: `${kind[x]}${i + 1}`, flag: 0 })
						const test = data.filter((val) => {
							return val.seat === seats[x][i].seat
						})
						if (test.length) {
							sec.innerHTML += `<div class="manseki seat_box"></div>`
						} else {
							sec.innerHTML += `<div class="kuseki seat_box" onclick="inStock(this,'${seats[x][i].seat}')"></div>`
						}
						if ((i + 1) % 4 === 0 && i !== 15) {
							sec.innerHTML += `<div style="margin-left: 30px;"></div>`
						}
					}
				}
				document.getElementById("seat_area").appendChild(sec)
			}
		}())


		const inStock = (node, seat) => {
			if (node.classList.contains("kuseki")) {
				node.classList.remove("kuseki")
				node.classList.add("sentaku")
				node.innerHTML = "✓"
				stock.push({ runId: "<%= runId %>", seat: seat, kind: 0, email: "<%= email %>" })
			} else {
				node.classList.remove("sentaku")
				node.classList.add("kuseki")
				node.innerHTML = ""
				stock = stock.filter((val) => {
					return val.seat !== seat;
				})
			}
			console.log(stock)


			let ticket = "";
			for (let element of stock) {
				console.log(element)
				ticket += `<div class="ticket">
						<h3>${element.seat}</h3>
						<select name="ticket_kind" id="ticket${element.seat}">
							<option value="0" selected>大人</option>
							<option value="1">小・中学生</option>
							<option value="2">高齢者</option>
						</select>
					</div>`
			}
			document.getElementById("tickets").innerHTML = ticket
		}

		const buyTickets = async () => {
			for (let i = 0; i < stock.length; i++) {
				stock[i].kind = document.getElementById("ticket" + stock[i].seat).value
			}
			console.log(stock)
			const { status } = await axios.post("/api/buyTickets", { stock });
			console.log(status)
			if (status === 200) {
				//成功処理
			} else {
				//失敗処理
			}
		}
	</script>

	<% } %>

</body>

</html>