<!DOCTYPE html>

<html lang="ja">

<head>

	<meta charset="utf-8">
	<% const month = new Date().getMonth() + 1; %>
	<% const date = new Date().getDate(); %>
	<title>公開予定映画</title>

	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/relese.css">

	<% const path = ["hal_tokyo.png","hal_osaka.png","hal_nagoya.png"] %>
</head>

<body style="background-image: url('../images/<%= path[cinemaId] %>');">
	<style>
		body {
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position: right bottom;
		}
	</style>

	<header>
		<div id="halcinema" onclick="window.location.href = '/home/today_schedule'">
			<img src="/images/logo_white.png" alt="ロゴ白">
			<h1>HAL CINEMA</h1>
		</div>
		<button id="pan" onclick="location.href='/'">＜地域選択画面</button>
		<a id="login" href="/users/login">Login</a>
	</header>

	<div id="background"></div>

	<div id="wrap">

		<nav>
			<ul>
				<li class="li_style" onclick="location.href='/home/production_list'">上映映画一覧</li>
				<li class="schedule_style" onclick="location.href='/home/today_schedule'">
					<div id="when">
						<div id="month"><%= String(month).padStart(2,"0") %></div>
						<div id="day"><%= String(date).padStart(2,"0") %></div>
					</div>
					<div id="schedule">上映スケジュール</div>
				</li>
				<li class="li_style nav_active">公開予定映画</li>
			</ul>
		</nav>



		<article>
			<!-- ここから編集 -->
			<!-- H2タグから使える -->

			<!--いた -->
			<% for(let i=0; i<movieList.length; i++){ %>
			<div class="comming_cont" id="<%= i %> ">
				<img src="<%= movieList[i].poster %>" alt="<%= movieList[i].movieName + "のポスター"%>">
				<div>
					<!-- <h2>2020/06/06(木)</h2> -->
					<h2>
						<% const movieDate = new Date(movieList[i].releaseDay); %>
						<%const  YY = movieDate.getFullYear(); %>
						<%const MM = movieDate.getMonth() + 1 ; %>
						<% const dd = movieDate.getDate(); %>
						<%const week = ["日","月","火","水","木","金","土"];%>
						<% const Dweek = movieDate.getDay();%>
						<%= YY + "/" + String(MM).padStart(2,'0') + "/" + String(dd).padStart(2,'0') + "(" + week[Dweek] + ")"%>
					</h2>
					<h3><%= movieList[i].movieName; %></h3>
					<p>
						<%= movieList[i].explain.slice(0,120) %>
						<%= movieList[i].explain.length >= 120 ? "...":"" %>
					</p>
					<a href="/production/<%= movieList[i].movieId %>">詳細を表示＞</a>
				</div>
			</div>
			<% } %>
			<!--いたの -->

			<!-- ここまでを編集 -->
			<small>&copy; HAL CINEMA 2020.</small>

	</div>



	<footer id="scrollTop" onclick="scrollToTop()">
		<div>
			<img src="/images/arrow.png" alt="ScrollTop">
			<p>Scroll top</p>
		</div>
	</footer>

	<script src="/js/common.js"></script>



</body>

</html>